<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.internalerror"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <!-- Sketcher activity 
        <activity android:name=".sketching.Sketcher"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        
        <!-- Graphics test activity -->
        <activity android:name=".sketching.TestGraphicsActivity"
                  android:label="@string/graphics_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <!--~~~~~~~~~~~~~~~~~~~~
        	  Tab Activity 
       	~~~~~~~~~~~~~~~~~~~~~~-->
        <activity android:name=".common.AppTabWidget"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         
        	
        <!-- Measure activity -->
        <activity android:name=".measure.MeasureActivity"
                  android:label="@string/measure_app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 